region            = "us-east-1"
vpc_cidr          = "10.0.0.0/16"
subnet_cidrs      = ["10.0.1.0/24", "10.0.2.0/24"]
db_name           = "api"
db_username       = "postgres"
db_password       = "your-secure-password"  # Встановіть складний пароль
allowed_cidr_blocks = ["0.0.0.0/0"]  # Обмежте в продакшені для безпеки 